.beer-overview {
  padding: 5px;
  padding-bottom: 60px;
}

.beer-overview-card {
  border-radius: 8px;
  min-height: 232px;
  background: transparent;
  border: none;
  padding: 20px;
}

.beer-overview-card__content {
  /* padding: 5px; */
}

.beer-overview-card--bodywrap {
  /* border: 1px solid black; */
  background: rgb(252, 253, 254);
  border-radius: 8px;
  position: absolute;
  width: 120%;
  bottom: 30px;
  right: 0;
  z-index: -1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.01),
    0.01px 6px rgba(0, 0, 0, 0.01),
    0 8px 8px rgba(0, 0, 0, 0.004),
    0.016px 16px rgba(0, 0, 0, 0.002),
    8px 32px 32px rgba(0, 0, 0, 0.05),
    8px 64px 64px rgba(0, 0, 0, 0.05);
}

.beer-overview-card--body-separator {
  position: absolute;
  right: 0;
  height: 1px;
  width: 100%;
  border-top: 1px solid rgba(73, 43, 0, 0.151);
}

.beer-overview-card--body {
  padding-left: 25%;
}

.beer-overview-card__content--img-shown {
  max-width: 90px;
  max-height: 190px;
  padding-right: 30px;
  -webkit-filter: drop-shadow(4px 40px 22px rgba(34, 34, 34, 0.24));
  filter: drop-shadow(4px 40px 23px rgba(34, 34, 34, 0.308));
}

.beer-overview-card--body-title {
  min-height: 50px;
  max-height: 50px;
  overflow:hidden;
}

.beer-overview-card--body-text {
  min-height: 50px;
  max-height: 50px;
  overflow:hidden;
}

@media only screen and (min-width: 991px) and (max-width: 1280px) {
  .beer-overview-card--bodywrap {
    width: 114%;
  }
  .beer-overview-card__content--img-shown {
    max-width: 70px;
    padding-right: 0px;
  }
  .beer-overview-card--body {
    padding-left: 40%;
  }
  .beer-overview {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 991px) {
  .beer-overview-card {
    min-height: 350px;
    text-align: center;
    /* background: white; */
    z-index: -1;
  }
  .beer-overview-card__content--img-shown {
    max-width: 120px;
    padding-right: 0px;
  }
  .beer-overview-card--bodywrap {
    border: 0px solid black;
    position: relative;
    width: auto;
    bottom: auto;
    right: auto;
    z-index: 1;
    bottom: 45px
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0); */
  }
  .beer-overview-card--body {
    padding-left: 4%;
    padding: auto;
  }
}
