.beer-details__content {
  overflow: auto;
  display: block;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 100%;
  padding: 30px ;
}
.beer-details__content--close {
  position: fixed;
  width: 90%;
  z-index: 2;
  text-align: right;
  margin: auto;
  padding: auto;
}
.beer-details__content--img-shown {
  height: 60vh;
  
  -webkit-filter: drop-shadow(4px 40px 22px rgba(34, 34, 34, 0.24));
  filter: drop-shadow(4px 40px 23px rgba(34, 34, 34, 0.151));
}
