img {
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-hidden {
  height: 0px;
  display: none;
}

.default-img-shown {
  height: 200px;
}