.navigation-spacer {
  width: 100%;
  height: 12rem;
}
@media (min-width: 767px) and (max-width: 1900px){
  .navigation-spacer {
    height: 10rem;
  }
}
@media (max-width: 767px) {
  .navigation-spacer {
    height: 175px;
  }
}

@media (max-width: 560px) {
  .navigation-spacer {
    height: 145px;
  }
}