*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans";
  color: #343642;
  background-color: #ECF0F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23eaedee' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 3em;
  line-height: 48px;
  margin: 24px 0;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3125em;
}

h5 {
  font-size: 1.24em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 0.9em;
  line-height: 24px;
  margin: 24px 0;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

select:focus,
a:focus,
a:hover,
button:focus,
.btn:focus,
input:focus,
textarea:focus,
.form-control,
.form-control:focus {
  outline: none;
  color: #1e2f5a;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-size: 1em;
}

.btn {
  font-size: 1em;
}

.img-responsive-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
  color: #DE7C03;
}

.btn {
  position: relative;
  font-weight: 500;
  border-width: 1px;
  font-style: normal;
  letter-spacing: normal;
  margin: .4rem .8rem;
  white-space: normal;
  transition-duration: .3s, .3s, .3s, 2s;
  transition-timing-function: ease-in-out;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  border-radius: 100px;
}

.btn .mbr-iconfont {
  font-size: 1.6rem;
}

.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 100%;
  height: 100%;
  transition: border-radius 0.3s;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 1;
}

.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}

@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

